<div class="inline-alert inline-alert--error hide" id="fe-error-container" tabindex="-1">
  <span class="alert-icon icon--icon-error"></span>
  <div class="alert-content">
    <h3>We're sorry</h3>
    <p>The following information is required.</p>
    <ul class="err-list" id="error-list"></ul>
  </div>
</div>
