<div class="modal__wrapper js-modal__wrapper" aria-hidden="true" role="dialog" aria-labelledby="modal__title">
  <div class="modal__content js-model__content helpModal" role="document">
    <button aria-label="close" class="modal__content--close js-model--close">&times;</button>
    <h3 id="modal__title">Help for Registration</h3>

    <p>Im text now</p>

    <div class="col-xs-12 pd help-section">
      <p>Need Help?</p>
      <p>For website support, call toll-free <a href="tel:+18552643239">1&#8209;855&#8209;264&#8209;3239</a></p>
      <p>Please Note: Most plans require members to be 18 years of age or older to register.</p>
    </div>

    <div class="modal__content--actionList pd col-xs-12 col-md-4 col-md-offset-4 text-center">
      <button class="primary-btn btn-block js-model--close" id="close-help-btn" type="button">Close</button>
    </div>
  </div>
</div>
