<div class="inline-alert <%= alert.class %>">
  <span class="alert-icon <%= alert.iconClass %>"></span>
  <div class="alert-content">
    <h3><%- alert.title %></h3>
    <p><%- alert.text %></p>
  </div>
</div>

<%# other option for yellow is inline-alert--warn red is inline-alert--error %>
