<div id="spinner-container" class="spin-container modal__wrapper js-modal__wrapper" aria-hidden="true" role="dialog" aria-labelledby="modal__title">
  <div id="pleasewait" class="modal__content js-model__content loadingModal" role="document">

    <div class="col-xs-12 pd icon-container">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <div class="col-xs-12 pd" id="modal__title">
      <p id="modal__title">Please wait while we are loading your information.</p>
    </div>
  </div>
</div>
