<div class="t-and-c modal__wrapper js-modal__wrapper" aria-hidden="true" role="dialog" aria-labelledby="modal__title">
  <div class="modal__content js-model__content tAndC" role="document">
    <button aria-label="close" class="modal__content--close js-model--close">&times;</button>
    <h3 id="modal__title">Terms and Conditions</h3>

    <div class="col-xs-12 pd">
      <% include ../partials/_terms-and-cond %>
    </div>

    <div class="modal__content--actionList pd col-xs-12 col-md-4 col-md-offset-4 text-center">
      <button class="primary-btn btn-block js-model--close" id="close-tandc-btn" type="button">Close</button>
    </div>
  </div>
</div>
