  </div>

    <!-- build:js js/main.min.js -->
      <script type="text/javascript" src="./js/build/password.js"></script>
    <!-- endbuild -->

    <!-- build:js js/validation.min.js -->
      <script type="text/javascript" src="./js/build/validity-polyfill.js"></script>
      <script type="text/javascript" src="./js/build/validation-main.js"></script>
    <!-- endbuild -->
  </body>
</html>
