  </div>

    <script type="text/javascript" src="./js/build/node-polyfill.js"></script>
    <script type="text/javascript" src="./js/build/password.js"></script>
    <!-- build:js js/validation.min.js -->
      <script type="text/javascript" src="./js/build/validity-polyfill.js"></script>
      <script type="text/javascript" src="./js/build/validation.js"></script>
      <script type="text/javascript" src="./js/build/dob-validation.js"></script>
      <script type="text/javascript" src="./js/build/phone-validation.js"></script>
      <script type="text/javascript" src="./js/build/password-validation.js"></script>
      <script type="text/javascript" src="./js/build/inline-alert.js"></script>
    <!-- endbuild -->
  </body>
</html>
