<% include ../partials/_header %>

<div class="col-xs-12">
  <form id="example-form" class="js-form-valid ui-form col-xs-12 col-md-7">

    <div class="col-xs-12 pd">
      <% var input= data.firstName; %>
      <% include ../components/_input %>

      <% input= data.lastName; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12 pd">
      <% input= data.inputAddressOne; %>
      <% include ../components/_input %>

      <% input= data.inputAddressTwo; %>
      <% include ../components/_input %>

      <% input= data.zipcode; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12 pd">
      <% input= data.inputDOB; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12 pd">
      <% var radioBtn= data.gender; %>
      <% include ../components/_radio-btn %>
    </div>

    <div class="col-xs-12 pd">
      <% input= data.emailAddress; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12 pd">
      <% var checkbox= data.termsAndCond; %>
      <% include ../components/_checkbox %>
    </div>

    <div class="pd col-md-3 col-xs-12 primary-btn-wrap">
      <% var btn= data.continueBtn; %>
      <% include ../components/_btn %>
      </div>
  </form>

</div>

<% include ../partials/_footer %>
