<% include ../partials/_header %>

<div class="col-xs-12">
  <h1>All validations happen on form submit except email and password</h1>

  <form id="example-form" class="js-form-valid ui-form col-xs-12 col-md-7">
    <% include ../components/_error-inline-alert %>

    <div class="col-xs-12 form-group">
      <% input= data.firstName; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% input= data.inputAddressOne; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% input= data.zipcode; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% input= data.inputDOB; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% input= data.emailAddress; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% input= data.password; %>
      <% include ../components/_input-pw %>

      <% input= data.passwordConfirm; %>
      <% include ../components/_input-pw %>
    </div>

    <div class="col-xs-12">
      <% input= data.phoneNumber; %>
      <% include ../components/_input %>
    </div>

    <div class="col-xs-12">
      <% var radioBtn= data.gender; %>
      <% include ../components/_radio-btn %>
    </div>

    <div class="col-xs-12">
      <% var checkbox= data.termsAndCond; %>
      <% include ../components/_checkbox %>
    </div>

    <div class="col-md-5 col-xs-12 primary-btn-wrap">
      <% var btn= data.continueBtn; %>
      <% include ../components/_btn %>
      </div>
  </form>

</div>

<% include ../partials/_footer %>
