<% include ../partials/_header %>

<div class="col-xs-12">
  <form id="example-form" class="js-form-valid col-xs-12 col-md-7">
    <% var input= data.firstName; %>
    <% include ../components/_input %>

    <div class="pd col-md-3 col-xs-12 primary-btn-wrap">
      <% var btn= data.continueBtn; %>
      <% include ../components/_btn %>
      </div>
  </form>

</div>

<% include ../partials/_footer %>
