.inline-alert, .inline-alert--error, .inline-alert--warn, .inline-alert--info, .inline-alert--success {
  display: block;
  padding: 20px 20px 20px 16px;
  margin: 0 0 20px;
  border-left: 4px solid;
  clear: both; }

.inline-alert h3, .inline-alert--error h3, .inline-alert--warn h3, .inline-alert--info h3, .inline-alert--success h3 {
  margin: 0 0 10px;
  font-size: 16px; }

.inline-alert p, .inline-alert--error p, .inline-alert--warn p, .inline-alert--info p, .inline-alert--success p {
  margin: 0;
  font-size: 14px; }

.inline-alert ul, .inline-alert--error ul, .inline-alert--warn ul, .inline-alert--info ul, .inline-alert--success ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0; }

.inline-alert ul li, .inline-alert--error ul li, .inline-alert--warn ul li, .inline-alert--info ul li, .inline-alert--success ul li {
  display: inline; }

.inline-alert ul li a, .inline-alert--error ul li a, .inline-alert--warn ul li a, .inline-alert--info ul li a, .inline-alert--success ul li a {
  text-decoration: none; }

.inline-alert .alert-icon, .inline-alert--error .alert-icon, .inline-alert--warn .alert-icon, .inline-alert--info .alert-icon, .inline-alert--success .alert-icon {
  float: left;
  margin: 0 16px 0 0; }

.inline-alert .alert-icon + .alert-content, .inline-alert--error .alert-icon + .alert-content, .inline-alert--warn .alert-icon + .alert-content, .inline-alert--info .alert-icon + .alert-content, .inline-alert--success .alert-icon + .alert-content {
  margin-left: 40px; }

.inline-alert--error {
  background-color: rgba(204, 0, 0, 0.1);
  border-color: #c00; }

.inline-alert--error .alert-icon {
  display: inline-block;
  height: 25px;
  width: 25px; }

.inline-alert--warn {
  background-color: rgba(255, 210, 22, 0.2);
  border-color: #ffd216; }

.inline-alert--warn .alert-icon {
  display: inline-block;
  height: 25px;
  width: 25px; }

.inline-alert--info {
  background-color: rgba(184, 227, 235, 0.3);
  border-color: #b8e3eb; }

.inline-alert--info .alert-icon {
  background: url(/images/icons/info-icon.svg) no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px; }

.inline-alert--success {
  background-color: rgba(167, 206, 57, 0.2);
  border-color: #a7ce39; }

.inline-alert--success .alert-icon {
  display: inline-block;
  height: 25px;
  width: 25px; }

  /**
   * Checkboxes/Radio button base styles
   */
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    margin-right: 0.3em; }
    /**
     * Radio Buttons
     */
    .radio-button input {
      display: none; }

    .radio-button .fake-input {
      height: 28px;
      display: inline-block;
      float: left;
      padding-right: 5px; }

    .radio-button .check-radio-label {
      line-height: 21px; }

    .radio-button input + .fake-input:before {
      left: 0;
      top: 3px;
      display: inline-block;
      height: 16px;
      width: 16px;
      content: '';
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 16px;
      -webkit-box-shadow: 0 0 0 2px #000;
      box-shadow: 0 0 0 2px #000; }

    .radio-button:hover .fake-input:before,
    .radio-button input + .fake-input:hover:before {
      -webkit-transition: box-shadow 0.15s ease-in-out;
      -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
      transition: -webkit-box-shadow 0.15s ease-in-out;
      transition: box-shadow 0.15s ease-in-out;
      transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -webkit-box-shadow: 0 0 0 2px #8c8c8c;
      box-shadow: 0 0 0 2px #8c8c8c; }

    .radio-button:hover .fake-input {
      cursor: pointer; }

    .radio-button input:checked + .fake-input:before,
    .radio-button input[disabled]:checked + .fake-input:before {
      background-color: #000;
      -webkit-box-shadow: 0 0 0 2px #000;
      box-shadow: 0 0 0 2px #000; }

    .radio-button input[disabled] + .fake-input:before {
      -webkit-box-shadow: 0 0 0 2px #bbb;
      box-shadow: 0 0 0 2px #bbb;
      background-color: #f2f2f2; }

    .radio-button input[disabled] + .fake-input {
      cursor: default; }
      /**
       * Checkboxes
       */
      .checkbox input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }

      .checkbox .fake-input {
        height: 28px;
        display: inline-block;
        float: left;
        padding-right: 5px; }

      input:focus + .fake-input {
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color; }

      .checkbox .check-radio-label {
        line-height: 28px; }

      .checkbox input + .fake-input:before {
        display: inline-block;
        height: 24px;
        width: 24px;
        content: '';
        background-color: #fff;
        border: 2px solid #bbb;
        left: 0;
        top: 6px; }

      .checkbox:hover .fake-input:before,
      .checkbox input + .fake-input:hover:before {
        border-color: #000;
        -webkit-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }

      .checkbox:hover .fake-input {
        cursor: pointer; }

      .checkbox input:checked + .fake-input:before {
        border-color: #000;
        background: #000 url(/images/icons/svg/check.svg) center center no-repeat; }

      .checkbox input[disabled]:checked + .fake-input:before {
        border-color: #bbb;
        background-color: #f2f2f2; }

      .checkbox input[disabled] + .fake-input:before {
        border-color: #bbb;
        background-color: #f2f2f2; }

      .checkbox input[disabled] + .fake-input {
        color: #767676;
        cursor: default; }

      input.checkbox-error + .fake-input:before {
        border-color: #c00;
        background-color: #fcf2f2; }
