/**
 * Show error text color
 */
.error {
  color: $color-error;
}

.text-input-area {
  .form-control {
    border: 2px solid $color-gray-15;
    background: $color-white;
    color: $color-gray-paragraph;

    &.error {
      border-color: $color-red;
      background: $color-red-lighter;
    }

    &:active,
    &:focus {
      border-color: $color-black;

      &.error {
        border-color: $color-red;
      }
    }
  }

  .form-control ~ .input-help {
    display: none;
    visibility: hidden;
  }

  .form-control.error ~ .input-help {
    display: block;
    visibility: visible;
    color: $color-red;
  }
}

.checkbox-area {
  .input-help {
    display: none;
    visibility: hidden;
  }

  .check-radio-label + .input-help {
    color: $color-error;
  }

  input.error ~ .fake-input:before {
    border: 2px solid $color-error;
    background: $color-error-light;
  }
}

.radio-area {
  label {
    color: $color-black;
  }
  &.error {
    .h4 {
      color: $color-black;
    }
  }

  .input-help {
    display: none;
    visibility: hidden;
  }

  &.error {
    .input-help {
      color: $color-error;
    }
  }
}

.inline-alert--error {
  .err-list {
    li {
      display: block;
      text-decoration: underline;
      margin-bottom: 8px;

      a {
        font-weight: normal;

        &:hover,
        &:focus,
        &:active {
          color: $color-red-light;
        }
      }
    }
  }
}
