.input-cont {
  position: relative;
  display: inline-block;
  width: 100%;

  a {
    position: absolute;
    right: 10px;
    top: 20px;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      color: $color-brand-primary-light;
      text-decoration: none;
    }
  }
}

#input-cpw {
  & ~ .input-desc {
    display: none;
    visibility: hidden;
  }

  &.matching ~ .input-desc {
    display: block;
    visibility: visible;

    .icons {
      padding: 7px;
      display: inline-block;
    }
  }
}
