.icon--check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon--green-check { background-image: url('png/green-check.png'); background-repeat: no-repeat; }

.icon--icon-error { background-image: url('png/icon-error.png'); background-repeat: no-repeat; }

